.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.avatar{
  display: block;
  border-radius: 50%;
  margin: 2vh auto;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

h1 { 
  border-bottom: 1px solid #FFFFFF; 
  padding-top: 25px;
  padding-bottom: 25px;
}

hr {
  width:7vh;
  height: 1px;
  padding-top: 3px;
  background-color: rgba(255,255,255,.5);
}

header {
  position: relative;
  background-color:black;
}

.about { background-color: #CEEBF5; }
.experiences-bg { background-color: #3FA5D6; }
.abilities { 
  background-color: #3D72A3; 
}



.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.video-container { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video-container video {
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  -webkit-filter: grayscale(45%); /* Safari 6.0 - 9.0 */
  filter: grayscale(45%);
}

.scroll-down {
  height: 50px;
  width: 30px;
  border: 2px solid white;
  position: absolute;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
}

.scroll-down::before,
.scroll-down::after{
  content: '';
  position: absolute;
  top: 20%;
  left: 50%;
  border: 2px solid white;
  height: 10px;
  width: 10px;
  transform: translate(-50%, -100%) rotate(45deg);
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}

.scroll-down::after{
  top: 20%;
  animation-delay: .3s;
}

@keyframes scroll-down{
  0%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  60%{
    opacity: 1;
  }
  100%{
    opacity:0;
    top: 90%;
  }
}

ul { text-align:left;}

.italic{ font-style: italic;}

.no-bullets {
  list-style-type: none;
}

.float-right { float:right;}
.text-align-left { text-align:left; }

section, footer{ 
  padding-top: 5rem;
}

section:last-child { padding-bottom: 5rem;}

h3{ font-size: 150%; }

.quote {
  padding: 0.8rem 0;
  font-family: 'Caveat', cursive;
  font-size: 200%;
  color:#3D72A3;
}

.speaker {
  color:rgba(0,0,0,0.6);
  font-size:90%;
}

.details, .bio {
  margin-top: auto;
  margin-bottom: auto;
  text-align: left;
}

.details li { margin-bottom: 1.5rem; }

.experiences { text-align:left; }
.experience { padding-top:1rem; }

.experience-heading {
  font-weight:bold;
  font-size:125%;
}

.experience-period { 
  font-style:italic; 
  padding-top: 0.5rem;
}

section#abilities h3 {
  padding-top: 1rem;
  margin-bottom:1rem;
  font-size: 150%;
}

.ability-rating {
  float:right;
}

footer {
  background-color:#061529;
  color: #fff;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer h2 { padding-top:2rem; }
footer .btn { 
  margin-bottom:2rem;
  cursor:pointer
 }
 footer .btn i {
   padding-left:0.5rem;
   line-height:1rem;
   font-size:125%;
 }

.media, footer .btn {
  margin-top: 1rem;
}

.media{ 
  justify-content:center;
  line-height:5rem;
  cursor:pointer;
  margin-right: 4rem;
}

.media-icon{ font-size: 175%; }

.media-text{ 
  padding-left: 1rem;
  color:inherit;
}

.media-email { color: #fff; }
.media-email:link{ text-decoration: none!important; }

.media-text:hover { 
  color:inherit;
}

.btn-source:hover {
  -webkit-transform: scale(1.01);
}

.rating:hover, .media:hover {
  color: gray;
  text-shadow:rgba(0,0,0,0.8);
  -webkit-transform: scale(1.02);
  -moz-transition:color .3s ease-in;
  -o-transition:color .3s ease-in;
  -webkit-transition:color .3s ease-in;
}

.rating:hover > .ability-rating { 
  color: #FFDF00; 
  transition-duration: 0.5s;
}
